<ion-view title="Codigo" hide-nav-bar="true" id="page3" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div class="item item-body top-list" id="codigo-list-item-container4">
            <div>
                <div class="hspacer-25"></div>
            </div>
            <h1 id="codigo-heading1" style="color:#FFFFFF;text-align:center;" class=" ">Dale este codigo</h1>
            <h1 id="codigo-heading2" style="color:#FFFFFF;text-align:center;" class=" ">a tu amigo:</h1>
            <h1 id="codigo-heading3" style="color:#FFFFFF;font-weight:600;text-align:center;" class=" " ng-name="chatId"></h1>
        </div>
        <div class="item item-body bottom-list" id="codigo-list-item-container7">
            <div class="spacer" style="width: 310px; height: 27px;"></div>
            <a id="codigo-button4" class=" button button-balanced  button-block ">Ingresar el código de tu amigo</a>
        </div>
    </ion-content>
</ion-view>