<ion-view title="Ganador" hide-nav-bar="true" id="page7" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div class="item item-body top-list bk-blue" id="ganador-list-item-container14">
            <div>
                <div class="hspacer-20" <="" div=""></div>
            </div>
            <h1 id="ganador-heading9" style="color:#FFFFFF;font-weight:600;text-align:center;" class=" ">¡Eres un crack!</h1>
            <div class="spacer" style="width: 310px; height: 23px;"></div>
        </div>
        <div class="item item-body bottom-list bk-blue" id="ganador-list-item-container15">
        </div>
    </ion-content>
</ion-view>