<ion-view title="Ganador" hide-nav-bar="true" id="page7" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div class="item item-body top-list bk-blue" id="ganador-list-item-container14">
            <div>
                <div class="hspacer-20" <="" div=""></div>
            </div>
            <h1 id="ganador-heading9" style="color:#FFFFFF;font-weight:600;text-align:center;" class=" ">¡Eres un crack!</h1>
            <div class="spacer" style="width: 310px; height: 23px;"></div>
            <p id="ganador-markdown13" style="color:#FFFFFF;font-size:20px;text-align:center;" class=" ">
                <strong>Este es tu</strong>
            </p>
            <p id="ganador-markdown14" style="color:#FFFFFF;font-size:20px;text-align:center;" class=" ">
                <strong>Premio</strong>
            </p>
        </div>
        <div class="item item-body bottom-list bk-blue" id="ganador-list-item-container15">
            <p id="ganador-markdown15" style="margin-top:0px;color:#FFFFFF;text-align:center;" class=" ">
                <strong>Muestra esta pantalla a</strong>
            </p>
            <p id="ganador-markdown16" style="color:#FFFFFF;text-align:center;" class=" ">
                <strong>la persona encargada.</strong>
            </p>
            <a ui-sref="perdedor" id="ganador-button5" class=" button button-balanced  button-block ">SOY EL ENCARGADO</a>
        </div>
    </ion-content>
</ion-view>