<ion-view title="Like" hide-nav-bar="true" id="page4" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div class="item item-body top-list bk-grey" id="like-list-item-container8">
            <div>
                <div class="hspacer-20"></div>
            </div>
            <ion-list id="like-list1" class=" ">
                <ion-item class="item-thumbnail-left  white-team-list" id="like-list-item1">
                    <img src="img/mSFhzmfeRByJ574qEwD5_10506738_10150004552801856_220367501106153455_o.jpg">
                    <h2>Blanco</h2>
                    <p>Jugador 1</p>
                </ion-item>
            </ion-list>
            <h2 id="like-heading7" style="color:#FFFFFF;font-weight:600;text-align:center;" class=" bk-blue">VS</h2>
            <ion-list id="like-list2" class=" ">
                <ion-item class="item-thumbnail-left  bk-red red-team-list" id="like-list-item2">
                    <img src="img/3M1q8tj2RYKXCwf8buCp_10506738_10150004552801856_220367501106153455_o.jpg">
                    <h2>Rojo</h2>
                    <p>Jugador 2</p>
                </ion-item>
            </ion-list>
        </div>
        <div class="item item-body bottom-list" id="like-list-item-container9">
            <div class="spacer" style="width: 310px; height: 24px;"></div>
            <p id="like-markdown10" style="color:#A8A8A8;text-align:center;" class=" wait-ball">
                <strong>Espera tu turno ...</strong>
            </p>
            <div class="wait-ball">
                <a style="display:block;" ui-sref="score">
                    <img src="img/wcdFEXFQfC0PMJkZ2OfW_loadingicon14.gif" width="30%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>