<ion-view title="marcador" hide-nav-bar="true" id="page6" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div class="item item-body full-list bk-red" id="marcador-list-item-container12">
            <div>
                <div class="hspacer-20"></div>
            </div>
            <h1 id="marcador-heading12" style="color:#FFFFFF;text-align:center;" class=" score-name-text">Jugador</h1>
            <p id="marcador-markdown17" style="color:#FFFFFF;font-size:290px;text-align:center;" class=" score-number-text">
                <strong ng-bind="score">{{getScore()}}</strong>
            </p>
        </div>
        <div class="item item-body bottom-list" id="marcador-list-item-container13"></div>
    </ion-content>
</ion-view>