<ion-view title="Perdedor" hide-nav-bar="true" id="page8" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div class="item item-body top-list bk-red" id="perdedor-list-item-container16">
            <div class="spacer" style="width: 310px; height: 54px;"></div>
            <h1 id="perdedor-heading8" style="color:#FFFFFF;font-weight:600;text-align:center;" class=" ">A seguir entrenando</h1>
            <div class="spacer" style="width: 310px; height: 23px;"></div>
            <div class="">
                <a style="display:block;" ui-sref="error">
                    <img src="img/p7teGlvsTKKp101blxxD_Sad.png" width="45%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </a>
            </div>
        </div>
        <div class="item item-body bottom-list bk-red" id="perdedor-list-item-container17">
            <p id="perdedor-markdown11" style="color:#FFFFFF;text-align:center;" class=" ">
                <strong>Vuelve a jugar el día de mañana</strong>
            </p>
        </div>
    </ion-content>
</ion-view>