<ion-view title="Inicio de sesion" hide-nav-bar="true" id="page2" class=" ">
    <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
        <div class="top-img">
            <img src="img/9XRF96UzRReLREaboI6h_foot-bk.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body bottom-list" id="inicioDeSesion-list-item-container3">
            <p id="inicioDeSesion-markdown6" style="margin-top:0px;color:#888888;font-size:14px;text-align:center;" class=" bottom-text">Es tu primera vez</p>
            <p id="inicioDeSesion-markdown7" style="margin-top:0px;color:#888888;font-size:14px;text-align:center;" class=" bottom-text">¡Disfruta la experiencia!</p>
            <a href="# " 
	           onclick="window.open('http://soyfanbot.com/fut/#/codigo',  '_self', 'location=yes'); 
		                return false;" 
		       id="inicioDeSesion-button2" style="font-weight:600;color:#FFFFFF;border-radius:0px 0px 0px 0px;" 
			   class=" button button-positive button-small icon-right ion-social-facebook col col-80 col-offset-10">
			Continuar con Facebook</a>
            <p id="inicioDeSesion-markdown8" style="margin-top:0px;color:#000000;font-size:10px;text-align:center;" class=" bottom-text">Al continuar estarás aceptando el Aviso de Privacidad</p>
        </div>
    </ion-content>
</ion-view>